openapi: 3.0.0
info:
  contact:
    email: support@search.io
    name: API Support
    url: https://www.search.io/company/contact
  description: Search.io is a smart, highly-configurable, real-time search service
    that enables thousands of businesses worldwide to provide amazing search experiences
    on their websites, stores, and applications.
  termsOfService: https://www.search.io/terms
  title: Search.io API
  version: v4
  x-logo:
    altText: Search.io
    url: https://cdn.search.io/v2/img/search-io-wordmark-light.svg
externalDocs:
  description: Read more about the Search.io API
  url: https://docs.search.io
servers:
- url: https://api.search.io
security:
- BasicAuth: []
tags:
- description: |-
    Collections store the records that you want to search through.

    They also contain the configuration associated with your data including pipelines, rules, synonyms, authorized domains and analytics. Each collection has an associated schema that designates field names, field types, and whether a field's data is indexed for text search.

    Create a collection for every new set of related records that you want to search through.
  name: Collections
- description: |-
    In Search.io, you configure your search algorithm using pipelines.

    Pipelines are easily configurable YAML-based scripts that define a series of steps that are executed sequentially when indexing a record, using a record pipeline, or performing a query, using a query pipeline.
  name: Pipelines
- description: |-
    A schema describes the set of fields that records in a collection can have.

    It is made up of a list of schema fields. Each schema field has a name, associated data type and mode.

    For example, the following record:

    ```json
    {
      "id": "54hdc7h2334h",
      "name": "Smart TV",
      "price": 1999,
      "brand": "Acme",
      "in_stock": true,
      "tags": ["TV", "Smart TV"],
      "create_time": "2006-01-02T15:04:05Z07:00"
    }
    ```

    Requires the following schema fields:

    - `id`, of type **STRING** and mode **UNIQUE**
    - `name`, of type **STRING**
    - `price`, of type **FLOAT**
    - `brand`, of type **STRING**
    - `in_stock`, of type **BOOLEAN**
    - `tags`, of type array of **STRING**
    - `create_time`, of type **TIMESTAMP**

    Type can be one of the following:

    - **STRING**
    - **INTEGER**
    - **BOOLEAN**
    - **FLOAT**
    - **DOUBLE**
    - **TIMESTAMP**, in [RFC3339](https://tools.ietf.org/html/rfc3339) format
    - Array of **STRING**
    - Array of **INTEGER**
    - Array of **BOOLEAN**
    - Array of **FLOAT**
    - Array of **DOUBLE**
    - Array of **TIMESTAMP**

    Mode can be one of the following:

    - **NULLABLE**, indicates a record field-value pair can be null
    - **REQUIRED**, indicates a record field-value pair is required
    - **UNIQUE**, indicates a record field-value pair must be unique across all records in the collection
  name: Schema
- description: |-
    A record is a single entry in a collection, made up of field-value pairs.

    For example in the following record:

    ```json
    {
      "name": "Kim Jones"
    }
    ```

    There is one field-value pair. The field is `name` and the value is `"Kim Jones"`.

    Records are analogous to rows in a database. Records can represent:

    - Webpages
    - Standard documents e.g. HTML, PDF, Microsoft Word Document
    - Custom data objects, if your data is not webpages or documents

    The set of fields a record can have is known as its schema. Webpages indexed via Search.io's web crawler have a predefined schema that can be extended with custom fields. For custom records, you can define your own schema.
  name: Records
- name: Promotions
- description: |-
    Websites, e-commerce stores and apps often have dedicated landing pages for important product categories, brands, or other promotional purposes.

    Instead of performing a search, Search.io has the ability to redirect users to these landing pages when a query matches certain criteria.
  name: Redirects
paths:
  /v4/collections:
    get:
      description: Retrieve a list of collections in an account.
      operationId: ListCollections
      parameters:
      - description: |-
          The maximum number of collections to return. The service may return fewer
          than this value.

          If unspecified, at most 50 collections are returned.

          The maximum value is 100; values above 100 are coerced to 100.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous
          [ListCollections](/api#operation/ListCollections) call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to
          [ListCollections](/api#operation/ListCollections) must match
          the call that provided the page token.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: List collections
      tags:
      - Collections
    post:
      description: |-
        Create an empty collection.

        Before records can be added to a collection, the schema and pipelines for
        the collection have to be set up. Consider setting up new collections via
        the Search.io Console, which handles the creation of the schema and
        pipelines for you.
      operationId: CreateCollection
      parameters:
      - description: |-
          The ID to use for the collection.

          This must start with an alphanumeric character followed by one or more
          alphanumeric or `-` characters. Strictly speaking, it must match the
          regular expression: `^[A-Za-z][A-Za-z0-9\-]*$`.
        explode: true
        in: query
        name: collection_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collection'
        description: Details of the collection to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 6
                    details:
                    - '@type': type.googleapis.com/google.rpc.BadRequest
                      field_violations:
                      - description: required
                        field: collection_id
                    message: 'collection_id: required'
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request contains violations for one or more
            fields.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "409":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 6
                    message: resource already exists
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the collection already exists.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Create collection
      tags:
      - Collections
  /v4/collections/{collection_id}:
    delete:
      description: |-
        Delete a collection and all of its associated data.

        > Note: This operation cannot be reversed.
      operationId: DeleteCollection
      parameters:
      - description: The collection to delete, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the collection was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Delete collection
      tags:
      - Collections
    get:
      description: Retrieve the details of a collection.
      operationId: GetCollection
      parameters:
      - description: The collection to retrieve, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get collection
      tags:
      - Collections
    patch:
      description: Update the details of a collection.
      operationId: UpdateCollection
      parameters:
      - description: The collection to update, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The list of fields to be updated, separated by a comma, e.g.
          `field1,field2`.

          Each field should be in snake case, e.g. `display_name`.

          For each field that you want to update, provide a corresponding value in
          the collection object containing the new value.
        explode: true
        in: query
        name: update_mask
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collection'
        description: Details of the collection to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the collection was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Update collection
      tags:
      - Collections
  /v4/collections/{collection_id}/pipelines:
    get:
      description: Retrieve a list of pipelines in a collection.
      operationId: ListPipelines
      parameters:
      - description: The collection that owns this set of pipelines, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The maximum number of pipelines to return. The service may return fewer
          than this value.

          If unspecified, at most 50 pipelines are returned.

          The maximum value is 1000; values above 1000 are coerced to 1000.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous
          [ListPipelines](/api#operation/ListPipelines) call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to
          [ListPipelines](/api#operation/ListPipelines) must match the
          call that provided the page token.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The amount of information to include in each retrieved pipeline.

           - VIEW_UNSPECIFIED: The default / unset value.
          The API defaults to the `BASIC` view.
           - BASIC: Include basic information including type, name, version and description
          but not the full step configuration. This is the default value (for both
          [ListPipelines](/api#operation/ListPipelines) and
          [GetPipeline](/api#operation/GetPipeline)).
           - FULL: Include the information from `BASIC`, plus full step
          configuration.
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: VIEW_UNSPECIFIED
          enum:
          - VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelinesResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: List pipelines
      tags:
      - Pipelines
    post:
      description: |-
        Create a new pipeline.

        Pipelines are immutable once created. If you want to change a pipeline e.g.
        to add or change some steps, you need to create a new version of that
        pipeline.

        To start using a new pipeline you need to update your record ingestion
        calls and/or your query calls to specify the new pipeline.

        To create the pipeline from YAML, set the request's `Content-Type` header
        to `application/yaml` and submit the pipeline's YAML in the request body.
      operationId: CreatePipeline
      parameters:
      - description: The collection to create the pipeline in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
          application/yaml:
            schema:
              $ref: '#/components/schemas/Pipeline'
        description: The pipeline to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Create pipeline
      tags:
      - Pipelines
  /v4/collections/{collection_id}/pipelines/{type}/{name}/{version}:
    get:
      description: |-
        Retrieve the details of a pipeline. Supply the type, name and version.

        To retrieve the pipeline in YAML, set the request's `Accept` header to
        `application/yaml`.
      operationId: GetPipeline
      parameters:
      - description: The collection that owns the pipeline, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the pipeline to retrieve.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - TYPE_UNSPECIFIED
          - RECORD
          - QUERY
          type: string
        style: simple
      - description: The name of the pipeline to retrieve, e.g. `my-pipeline`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the pipeline to retrieve, e.g. `42`.
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The amount of information to include in the retrieved pipeline.

           - VIEW_UNSPECIFIED: The default / unset value.
          The API defaults to the `BASIC` view.
           - BASIC: Include basic information including type, name, version and description
          but not the full step configuration. This is the default value (for both
          [ListPipelines](/api#operation/ListPipelines) and
          [GetPipeline](/api#operation/GetPipeline)).
           - FULL: Include the information from `BASIC`, plus full step configuration.
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: VIEW_UNSPECIFIED
          enum:
          - VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
            application/yaml:
              examples:
                response:
                  value: |-
                    type: record
                    name: my-pipeline
                    version: "1"
                    description: version 1 of my-pipeline (record)
                    createTime: 2020-08-11T07:52:54.287Z
                    preSteps:
                    - id: step-id
                    postSteps:
                    - id: step-id
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get pipeline
      tags:
      - Pipelines
  /v4/collections/{collection_id}/pipelines/{type}/{name}:getDefaultVersion:
    get:
      description: |-
        Get the default version for a given pipeline.

        The default version of a pipeline is used when a pipeline is referred to
        without specifying a version.

        This allows you to change the pipeline version used for requests without
        having to change your code.

        To retrieve the pipeline in YAML, set the request's `Accept` header to
        `application/yaml`.
      operationId: GetDefaultVersion
      parameters:
      - description: |-
          The collection that owns the pipeline to get the default version of, e.g.
          `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the pipeline to get the default version of.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - TYPE_UNSPECIFIED
          - RECORD
          - QUERY
          type: string
        style: simple
      - description: The name of the pipeline to get the default version of, e.g.
          `my-pipeline`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The amount of information to include in the retrieved pipeline.

           - VIEW_UNSPECIFIED: The default / unset value.
          The API defaults to the `BASIC` view.
           - BASIC: Include basic information including type, name, version and description
          but not the full step configuration. This is the default value (for both
          [ListPipelines](/api#operation/ListPipelines) and
          [GetPipeline](/api#operation/GetPipeline)).
           - FULL: Include the information from `BASIC`, plus full step configuration.
        explode: true
        in: query
        name: view
        required: false
        schema:
          default: VIEW_UNSPECIFIED
          enum:
          - VIEW_UNSPECIFIED
          - BASIC
          - FULL
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
            application/yaml:
              examples:
                response:
                  value: |-
                    type: record
                    name: my-pipeline
                    version: "1"
                    description: version 1 of my-pipeline (record)
                    createTime: 2020-08-11T07:52:54.287Z
                    preSteps:
                    - id: step-id
                    postSteps:
                    - id: step-id
              schema:
                $ref: '#/components/schemas/Pipeline'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: pipeline does not have a default version
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the pipeline does not have a default version.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get default pipeline version
      tags:
      - Pipelines
  /v4/collections/{collection_id}/pipelines/{type}/{name}:setDefaultVersion:
    post:
      description: |-
        Set the default version for a given pipeline.

        The default version of a pipeline is used when a pipeline is referred to
        without specifying a version.

        This allows you to change the pipeline version used for requests without
        having to change your code.
      operationId: SetDefaultVersion
      parameters:
      - description: |-
          The collection that owns the pipeline to set the default version of, e.g.
          `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the pipeline to set the default version of.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - TYPE_UNSPECIFIED
          - RECORD
          - QUERY
          type: string
        style: simple
      - description: The name of the pipeline to set the default version of, e.g.
          `my-pipeline`.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultVersionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetDefaultVersionResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Set default pipeline version
      tags:
      - Pipelines
  /v4/collections/{collection_id}/promotions:
    get:
      description: |-
        Retrieve a list of promotions in a collection.

        Promotion pins, exclusions and filter boosts are not returned in this call.
      operationId: ListPromotions
      parameters:
      - description: The collection that owns this set of promotions, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The maximum number of promotions to return. The service may return fewer
          than this value.

          If unspecified, at most 50 promotions are returned.

          The maximum value is 1000; values above 1000 are coerced to 1000.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous
          [ListPromotions](/api#operation/ListPromotions) call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to
          [ListPromotions](/api#operation/ListPromotions) must match the call that
          provided the page token.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromotionsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: List promotions
      tags:
      - Promotions
    post:
      description: Create a new promotion in a collection.
      operationId: CreatePromotion
      parameters:
      - description: The collection to create a promotion in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
        description: The promotion to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Create promotion
      tags:
      - Promotions
  /v4/collections/{collection_id}/promotions/{promotion_id}:
    delete:
      description: |-
        Delete a promotion and all of its associated data.

        > Note: This operation cannot be reversed.
      operationId: DeletePromotion
      parameters:
      - description: The collection the promotion belongs to, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The promotion to delete, e.g. `1234`.
        explode: false
        in: path
        name: promotion_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the promotion was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Delete promotion
      tags:
      - Promotions
    get:
      description: Retrieve the details of a promotion.
      operationId: GetPromotion
      parameters:
      - description: The collection that owns the promotion, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The promotion to retrieve, e.g. `1234`.
        explode: false
        in: path
        name: promotion_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get promotion
      tags:
      - Promotions
    patch:
      description: |-
        Update the details of a promotion.

        Pass each field that you want to update in the request body. Also specify
        the name of each field that you want to update in the `update_mask` in the
        request URL query string. Separate multiple fields with a comma. Fields
        included in the request body, but not included in the field mask are not
        updated.

        For example, to update the `display_name` and `start_time` fields, make a
        `PATCH` request to the URL:

        ```
        /v4/collections/{collection_id}/promotions/{promotion_id}?update_mask=display_name,start_time
        ```

        With the JSON body:

        ```
        {
          "display_name": "new value",
          "start_time": "2006-01-02T15:04:05Z07:00",
          "end_time": "2006-01-02T15:04:05Z07:00"
        }
        ```

        > Note: In this example `end_time` is not updated because it is not
        specified in the `update_mask`.
      operationId: UpdatePromotion
      parameters:
      - description: The collection the promotion belongs to, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The promotion to update, e.g. `1234`.
        explode: false
        in: path
        name: promotion_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The list of fields to be updated, separated by a comma, e.g.
          `field1,field2`.

          Each field should be in snake case, e.g. `display_name`, `filter_boosts`.

          For each field that you want to update, provide a corresponding value in
          the promotion object containing the new value.
        explode: true
        in: query
        name: update_mask
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
        description: Details of the promotion to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the promotion was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Update promotion
      tags:
      - Promotions
  /v4/collections/{collection_id}/records:batchUpsert:
    post:
      description: |-
        The batch version of the
        [UpsertRecord](/api#operation/UpsertRecord) call.
      operationId: BatchUpsertRecords
      parameters:
      - description: The collection to upsert the records in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpsertRecordsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpsertRecordsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Batch upsert records
      tags:
      - Records
  /v4/collections/{collection_id}/records:delete:
    post:
      description: Delete a record with the given key.
      operationId: DeleteRecord
      parameters:
      - description: The collection that contains the record to delete, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRecordRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Delete record
      tags:
      - Records
  /v4/collections/{collection_id}/records:get:
    post:
      description: Retrieve a record with the given key.
      operationId: GetRecord
      parameters:
      - description: The collection that contains the record to retrieve, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRecordRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get record
      tags:
      - Records
  /v4/collections/{collection_id}/records:update:
    post:
      description: |-
        Add or update specific fields within a record with the given values. The
        updated record is returned in the response.

        To replace all fields in a record, you should use the
        [UpsertRecord](/api#operation/UpsertRecord) call.

        Note that the update record call cannot be used to add or update indexed
        or unique fields. For this case use the
        [UpsertRecord](/api#operation/UpsertRecord) call.
      operationId: UpdateRecord
      parameters:
      - description: The collection that contains the record to update, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecordRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Update record
      tags:
      - Records
  /v4/collections/{collection_id}/records:upsert:
    post:
      description: |-
        If the record does not exist in the collection it is inserted. If it does
        exist it is updated.

        If no pipeline is specified, the default record pipeline is used to process
        the record.

        If the record is inserted, the response contains the key of the inserted
        record. You can use this if you need to retrieve or delete the record. If
        the record is updated, the response does not contain a key. Callers can use
        this as a signal to determine if the record is inserted/created or updated.

        For example, to add a single product from your ecommerce store to a
        collection, use the following call:

        ```json
        {
          "pipeline": {
            "name": "my-pipeline",
            "version": "1"
          },
          "record": {
            "id": "54hdc7h2334h",
            "name": "Smart TV",
            "price": 1999,
            "brand": "Acme",
            "description": "...",
            "in_stock": true
          }
        }
        ```
      operationId: UpsertRecord
      parameters:
      - description: The collection to upsert the record in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRecordRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertRecordResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Upsert record
      tags:
      - Records
  /v4/collections/{collection_id}/redirects:
    get:
      description: Retrieve a list of redirects in a collection.
      operationId: ListRedirects
      parameters:
      - description: The collection that owns this set of redirects, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The maximum number of redirects to return. The service may return fewer
          than this value.

          If unspecified, at most 50 redirects are returned.

          The maximum value is 1000; values above 1000 are coerced to 1000.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous
          [ListRedirects](/api#operation/ListRedirects) call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to
          [ListRedirects](/api#operation/ListRedirects) must match the call that
          provided the page token.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRedirectsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: List redirects
      tags:
      - Redirects
    post:
      description: Create a new redirect in a collection.
      operationId: CreateRedirect
      parameters:
      - description: The collection to create a redirect in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Redirect'
        description: The redirect to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redirect'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Create redirect
      tags:
      - Redirects
  /v4/collections/{collection_id}/redirects/{redirect_id}:
    delete:
      description: |-
        Delete a redirect and all of its associated data.

        > Note: This operation cannot be reversed.
      operationId: DeleteRedirect
      parameters:
      - description: The collection the redirect belongs to, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect to delete, e.g. `1234`.
        explode: false
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the redirect was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Delete redirect
      tags:
      - Redirects
    get:
      description: Retrieve the details of a redirect.
      operationId: GetRedirect
      parameters:
      - description: The collection that owns the redirect, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect to retrieve, e.g. `1234`.
        explode: false
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redirect'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get redirect
      tags:
      - Redirects
    patch:
      description: |-
        Update the details of a redirect.

        Pass each field that you want to update in the request body. Also specify
        the name of each field that you want to update in the `update_mask` in the
        request URL query string. Separate multiple fields with a comma. Fields
        included in the request body, but not included in the field mask are not
        updated.

        For example, to update the `condition` field, make a `PATCH` request to the
        URL:

        ```
        /v4/collections/{collection_id}/redirects/{redirect_id}?update_mask=condition
        ```

        With the JSON body:

        ```
        {
          "condition": "new value",
          "target": "..."
        }
        ```

        > Note: In this example `target` is not updated because it is not specified
        in the `update_mask`.
      operationId: UpdateRedirect
      parameters:
      - description: The collection the redirect belongs to, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect to update, e.g. `1234`.
        explode: false
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The list of fields to be updated, separated by a comma, e.g.
          `field1,field2`.

          Each field should be in snake case, e.g. `condition`, `target`.

          For each field that you want to update, provide a corresponding value in
          the redirect object containing the new value.
        explode: true
        in: query
        name: update_mask
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Redirect'
        description: Details of the redirect to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redirect'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 5
                    message: resource not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the redirect was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Update redirect
      tags:
      - Redirects
  /v4/collections/{collection_id}/schemaFields:
    get:
      description: Retrieve a list of schema fields in a collection.
      operationId: ListSchemaFields
      parameters:
      - description: The collection that owns this set of schema fields, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The maximum number of schema fields to return. The service may return
          fewer than this value.

          If unspecified, at most 50 schema fields are returned.

          The maximum value is 1000; values above 1000 are coerced to 1000.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          A page token, received from a previous
          [ListSchemaFields](/api#operation/ListSchemaFields) call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to
          [ListSchemaFields](/api#operation/ListSchemaFields) must
          match the call that provided the page token.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSchemaFieldsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: List schema fields
      tags:
      - Schema
    post:
      description: Create a new field in a collection's schema.
      operationId: CreateSchemaField
      parameters:
      - description: The collection to create a schema field in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaField'
        description: The schema field to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaField'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Create schema field
      tags:
      - Schema
  /v4/collections/{collection_id}/schemaFields:batchCreate:
    post:
      description: |-
        The batch version of the
        [CreateSchemaField](/api#operation/CreateSchemaField) call.
      operationId: BatchCreateSchemaFields
      parameters:
      - description: The collection to create the schema fields in, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateSchemaFieldsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateSchemaFieldsResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Batch create schema fields
      tags:
      - Schema
  /v4/collections/{collection_id}:generatePipelines:
    post:
      description: |-
        Generate basic record, query and autocomplete pipeline templates.
        Use these templates as a starting point for your collection's pipelines.

        This call returns a set of pipelines that you can pass directly to the
        create pipeline call.

        The generated templates can be returned in JSON, the default, or YAML. To
        return the generated pipelines in YAML, set the request's `Accept` header
        to `application/yaml`. The three pipelines in the YAML response are
        separated by three dashes (`---`).
      operationId: GeneratePipelines
      parameters:
      - description: The collection, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePipelinesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePipelinesResponse'
            application/yaml:
              examples:
                response:
                  value: |-
                    type: record
                    preSteps:
                    - id: step-id
                    postSteps:
                    - id: step-id
                    ---
                    type: query
                    preSteps:
                    - id: step-id
                    postSteps:
                    - id: step-id
                    ---
                    type: autocomplete
                    preSteps:
                    - id: step-id
                    postSteps:
                    - id: step-id
              schema:
                $ref: '#/components/schemas/GeneratePipelinesResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Generate pipelines
      tags:
      - Pipelines
  /v4/collections/{collection_id}:getDefaultPipeline:
    get:
      description: |-
        Get the default pipeline for a collection.

        Every collection has a default record pipeline and a default query
        pipeline.

        When a pipeline is required to complete an operation, it can be omitted
        from the request if a default pipeline has been set. When adding a record
        to a collection, the default record pipeline is used if none is provided.
        When querying a collection, the default query pipeline is used if none is
        provided.
      operationId: GetDefaultPipeline
      parameters:
      - description: The collection to get the default query pipeline of, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The type of the pipeline to get.

           - TYPE_UNSPECIFIED: Pipeline type not specified.
           - RECORD: Record pipeline.
           - QUERY: Query pipeline.
        explode: true
        in: query
        name: type
        required: true
        schema:
          default: TYPE_UNSPECIFIED
          enum:
          - TYPE_UNSPECIFIED
          - RECORD
          - QUERY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDefaultPipelineResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Get default pipeline
      tags:
      - Pipelines
  /v4/collections/{collection_id}:query:
    post:
      description: |-
        Query the collection to search for records.

        The following example demonstrates how to run a simple search for a
        particular string:

        ```json
        {
          "variables": { "q": "search terms" }
        }
        ```

        For more information:

        - See [filtering
        content](https://docs.search.io/documentation/fundamentals/integrating-search/filters-and-sort-options)
        - See [tracking in the Go
        SDK](https://github.com/sajari/sdk-go/blob/v2/session.go)
        - See [tracking in the JS
        SDK](https://github.com/sajari/sajari-sdk-js/blob/master/src/session.ts)
      operationId: QueryCollection
      parameters:
      - description: The collection to query, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueryCollectionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCollectionResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Query collection
      tags:
      - Collections
  /v4/collections/{collection_id}:queryCollection:
    post:
      deprecated: true
      description: |-
        Query the collection to search for records.

        The following example demonstrates how to run a simple search for a
        particular string:

        ```json
        {
          "variables": { "q": "search terms" }
        }
        ```

        For more information:

        - See [filtering
        content](https://docs.search.io/documentation/fundamentals/integrating-search/filters-and-sort-options)
        - See [tracking in the Go
        SDK](https://github.com/sajari/sdk-go/blob/v2/session.go)
        - See [tracking in the JS
        SDK](https://github.com/sajari/sajari-sdk-js/blob/master/src/session.ts)
      operationId: QueryCollection2
      parameters:
      - description: The collection to query, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/QueryCollectionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCollectionResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Query collection
      tags:
      - Collections
  /v4/collections/{collection_id}:setDefaultPipeline:
    post:
      description: |-
        Set the default pipeline for a collection.

        Every collection has a default record pipeline and a default query
        pipeline.

        When a pipeline is required to complete an operation, it can be omitted
        from the request if a default pipeline has been set. When adding a record
        to a collection, the default record pipeline is used if none is provided.
        When querying a collection, the default query pipeline is used if none is
        provided.

        Once a default pipeline has been set it cannot be cleared, only set to
        another pipeline.
      operationId: SetDefaultPipeline
      parameters:
      - description: The collection to set the default query pipeline of, e.g. `my-collection`.
        explode: false
        in: path
        name: collection_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDefaultPipelineRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetDefaultPipelineResponse'
          description: A successful response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Set default pipeline
      tags:
      - Pipelines
  /v4/events:send:
    post:
      description: |-
        Send an event to the ranking system after a user interacts with a search
        result.

        When querying a collection, you can set the tracking type of the query
        request. When it is `CLICK` or `POS_NEG`, a token is generated for each
        result in the query response. You can use this token to provide feedback to
        the ranking system. Each time you want to record an event on a particular
        search result, use the send event call and provide:

        - The `name` of the event, e.g. `click`, `purchase`.
        - The `token` from the search result.
        - The `weight` to assign to the event, e.g. `1`.
        - An object containing any additional `metadata`.

        For example, to send an event where a customer purchased a product, use the
        following call:

        ```json
        {
          "name": "purchase",
          "token": "eyJ...",
          "weight": 1,
          "metadata": {
            "discount": 0.2,
            "margin": 30.0,
            "customer_id": "12345",
            "ui_test_segment": "A"
          }
        }
        ```
      operationId: SendEvent
      requestBody:
        $ref: '#/components/requestBodies/SendEventRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEventResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 6
                    details:
                    - '@type': type.googleapis.com/google.rpc.BadRequest
                      field_violations:
                      - description: required
                        field: token
                    message: 'token: required'
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request contains violations for one or more
            fields.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Send event
      tags:
      - Events
  /v4/events:sendEvent:
    post:
      deprecated: true
      description: |-
        Send an event to the ranking system after a user interacts with a search
        result.

        When querying a collection, you can set the tracking type of the query
        request. When it is `CLICK` or `POS_NEG`, a token is generated for each
        result in the query response. You can use this token to provide feedback to
        the ranking system. Each time you want to record an event on a particular
        search result, use the send event call and provide:

        - The `name` of the event, e.g. `click`, `purchase`.
        - The `token` from the search result.
        - The `weight` to assign to the event, e.g. `1`.
        - An object containing any additional `metadata`.

        For example, to send an event where a customer purchased a product, use the
        following call:

        ```json
        {
          "name": "purchase",
          "token": "eyJ...",
          "weight": 1,
          "metadata": {
            "discount": 0.2,
            "margin": 30.0,
            "customer_id": "12345",
            "ui_test_segment": "A"
          }
        }
        ```
      operationId: SendEvent2
      requestBody:
        $ref: '#/components/requestBodies/SendEventRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEventResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    code: 6
                    details:
                    - '@type': type.googleapis.com/google.rpc.BadRequest
                      field_violations:
                      - description: required
                        field: token
                    message: 'token: required'
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request contains violations for one or more
            fields.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the request does not have valid authentication
            credentials.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Returned when the API encounters an internal error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error response.
      summary: Send event
      tags:
      - Events
components:
  requestBodies:
    QueryCollectionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryCollectionRequest'
      required: true
    SendEventRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEventRequest'
      required: true
  schemas:
    ActivePromotion:
      description: ActivePromotion is a promotion that is active for a given search.
      example:
        active_pins:
        - position: 6
          key:
            field: field
            value: value
        - position: 6
          key:
            field: field
            value: value
        promotion_id: promotion_id
        active_exclusions:
        - key:
            field: field
            value: value
        - key:
            field: field
            value: value
      properties:
        active_exclusions:
          description: The records that are excluded from the result set by the active
            promotion.
          items:
            $ref: '#/components/schemas/PromotionExclusion'
          type: array
        active_pins:
          description: |-
            The pins that belong to the active promotion. Note that the positions in
            these pins are the positions specified at pin creation time, which is not
            necessarily the position that a pin ends up in. For example, if a pin is
            created at position 2, but the query that the pin is active in has zero
            results, the pinned result actually appears in position 1.
          items:
[...]
